<% if TodoList.last.created_at.strftime("%Y-%m-%d") == Time.now.strftime("%Y-%m-%d") %>
        <% flash[:notice] = "Can't make more than one post per day" %>
        <% redirect_to root_url %>
      <% end %>


<h1 class="todo_list_title">List for: <strong><%= Time.new.strftime("%A, %Y-%m-%d") %></strong></h1>

<div class="forms"><%= render 'form' %></div>

<div class="links"><%= link_to 'Back', todo_lists_path %></div>

